.l-container {
  width: min(100% - (var(--content-padding) * 2), var(--content-width));
  margin-inline: auto;
}

.l-section {
  padding-block: var(--space-7);
}

@media (width >= 48rem) {
  .l-section {
    padding-block: var(--space-8);
  }
}
